{% extends 'base.html' %}
{% load static %}

{% block content %}
<br>
<!-- Start popular-destination Area -->
<section class="popular-destination-area section-gap">
    <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-70 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">All Celebrities</h1>
                    </div>
                </div>
            </div>						
      <div class="row">
        <div class="col-lg-4">
          <div class="single-destination relative">
            <div class="thumb relative">
              <div class="overlay overlay-bg"></div>
              <img class="img-fluid" src="{% static 'img/images (11).jpg' %}" alt="">
            </div>
            <div class="desc">	
              <a href="{% url 'booking' %}" class="btn btn-primary">Book Now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="single-destination relative">
            <div class="thumb relative">
              <div class="overlay overlay-bg"></div>
              <img class="img-fluid" src="{% static 'img/images (4).jpg' %}" alt="">
            </div>
            <div class="desc">	
              <a href="{% url 'booking' %}" class="btn btn-primary">Book Now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="single-destination relative">
            <div class="thumb relative">
              <div class="overlay overlay-bg"></div>
              <img class="img-fluid" src="{% static 'img/images (7).jpg' %}" alt="">
            </div>
            <div class="desc">	
              <a href="{% url 'booking' %}" class="btn btn-primary">Book Now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="single-destination relative">
            <div class="thumb relative">
              <div class="overlay overlay-bg"></div>
              <img class="img-fluid" src="{% static 'img/images (6).jpg' %}" alt="">
            </div>
            <div class="desc">	
              <a href="{% url 'booking' %}" class="btn btn-primary">Book Now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="single-destination relative">
            <div class="thumb relative">
              <div class="overlay overlay-bg"></div>
              <img class="img-fluid" src="{% static 'img/images (8).jpg' %}" alt="">
            </div>
            <div class="desc">	
              <a href="{% url 'booking' %}" class="btn btn-primary">Book Now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="single-destination relative">
            <div class="thumb relative">
              <div class="overlay overlay-bg"></div>
              <img class="img-fluid" src="{% static 'img/images (3).jpg' %}" alt="">
            </div>
            <div class="desc">	
              <a href="{% url 'booking' %}" class="btn btn-primary">Book Now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="single-destination relative">
            <div class="thumb relative">
              <div class="overlay overlay-bg"></div>
              <img class="img-fluid" src="{% static 'img/images (1).jpg' %}" alt="">
            </div>
            <div class="desc">	
              <a href="{% url 'booking' %}" class="btn btn-primary">Book Now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="single-destination relative">
            <div class="thumb relative">
              <div class="overlay overlay-bg"></div>
              <img class="img-fluid" src="{% static 'img/images (13).jpg' %}" alt="">
            </div>
            <div class="desc">	
              <a href="{% url 'booking' %}" class="btn btn-primary">Book Now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="single-destination relative">
            <div class="thumb relative">
              <div class="overlay overlay-bg"></div>
              <img class="img-fluid" src="{% static 'img/images (15).jpg' %}" alt="">
            </div>
            <div class="desc">	
              <a href="{% url 'booking' %}" class="btn btn-primary">Book Now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="single-destination relative">
            <div class="thumb relative">
              <div class="overlay overlay-bg"></div>
              <img class="img-fluid" src="{% static 'img/images (10).jpg' %}" alt="">
            </div>
            <div class="desc">	
              <a href="{% url 'booking' %}" class="btn btn-primary">Book Now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="single-destination relative">
            <div class="thumb relative">
              <div class="overlay overlay-bg"></div>
              <img class="img-fluid" src="{% static 'img/images.jpg' %}" alt="">
            </div>
            <div class="desc">	
              <a href="{% url 'booking' %}" class="btn btn-primary">Book Now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="single-destination relative">
            <div class="thumb relative">
              <div class="overlay overlay-bg"></div>
              <img class="img-fluid" src="{% static 'img/images (14)(3).jpg' %}" alt="">
            </div>
            <div class="desc">	
              <a href="{% url 'booking' %}" class="btn btn-primary">Book Now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
            <div class="single-destination relative">
              <div class="thumb relative">
                <div class="overlay overlay-bg"></div>
                <img class="img-fluid" src="{% static 'img/images (12).jpg' %}" alt="">
              </div>
              <div class="desc">	
                <a href="{% url 'booking' %}" class="btn btn-primary">Book Now</a>
              </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="single-destination relative">
              <div class="thumb relative">
                <div class="overlay overlay-bg"></div>
                <img class="img-fluid" src="{% static 'img/images (5).jpg' %}" alt="">
              </div>
              <div class="desc">	
                <a href="{% url 'booking' %}" class="btn btn-primary">Book Now</a>
              </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="single-destination relative">
              <div class="thumb relative">
                <div class="overlay overlay-bg"></div>
                <img class="img-fluid" src="{% static 'img/Selena-Gomez-2010.jpg' %}" alt="">
              </div>
              <div class="desc">	
                <a href="{% url 'booking' %}" class="btn btn-primary">Book Now</a>
              </div>
            </div>
        </div>
                                                  
      </div>
    </div>	
</section>
<!-- End popular-destination Area -->
{% endblock content %}