{% extends 'admin/admin-base.html' %}
{% load static %}
{% block content %}
<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link text-dark" href="{% url 'dashboard' %}">
          <i class="bi bi-grid text-primary"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link text-dark" href="{% url 'clients' %}">
          <i class="bi bi-person text-primary"></i>
          <span>Clients</span>
        </a>
      </li><!-- End Clients Page Nav -->

      <li class="nav-item">
        <a class="nav-link text-dark bg-secondary" href="{% url 'bookings' %}">
          <i class="bi bi-book text-primary"></i>
          <span>Bookings</span>
        </a>
      </li><!-- End Booking Page Nav -->

      <li class="nav-item">
        <a class="nav-link text-dark" href="{% url 'discounts' %}">
          <i class="bi bi-journal-album text-primary"></i>
          <span>Discount</span>
        </a>
      </li><!-- End Discount Page Nav -->

      <li class="nav-item">
        <a class="nav-link text-dark" href="{% url 'index' %}" target="_blank">
          <i class="bi bi-globe text-primary"></i>
          <span>Website</span>
        </a>
      </li><!-- End Website Link Nav -->

      <li class="nav-item">
        <a class="nav-link text-dark" href="{% url 'password_change' %}">
          <i class="bi bi-key text-primary"></i>
          <span>Change Password</span>
        </a>
      </li><!-- End Website Link Nav -->

      <li class="nav-item">
        <a class="nav-link text-dark" href="{% url 'logout' %}">
          <i class="bi bi-box-arrow-in-right text-primary"></i>
          <span>Logout</span>
        </a>
      </li><!-- End Logout Page Nav -->

    </ul>

</aside><!-- End Sidebar-->

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Bookings</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item">Bookings</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Bookings</h5>

              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Booking_ID</th>
                    <th scope="col">FirstName</th>
                    <th scope="col">LastName</th>
                  </tr>
                </thead>
                <tbody>
                  {% for booking in bookings %}
                  <tr>
                    <th scope="row">1</th>
                    <td>{{ booking.booking_number }}</td>
                    <td>{{ booking.client.first_name }}</td>
                    <td>{{ booking.client.last_name }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

{% endblock %}
