{% extends 'admin/admin-base.html' %}
{% load static %}
{% block content %}
<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link text-dark bg-secondary" href="{% url 'dashboard' %}">
          <i class="bi bi-grid text-primary"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link text-dark" href="{% url 'clients' %}">
          <i class="bi bi-person text-primary"></i>
          <span>Clients</span>
        </a>
      </li><!-- End Clients Page Nav -->

      <li class="nav-item">
        <a class="nav-link text-dark" href="{% url 'bookings' %}">
          <i class="bi bi-book text-primary"></i>
          <span>Bookings</span>
        </a>
      </li><!-- End Booking Page Nav -->

      <li class="nav-item">
        <a class="nav-link text-dark bg-secondary" href="{% url 'discounts' %}">
          <i class="bi bi-journal-album text-primary"></i>
          <span>Discount</span>
        </a>
      </li><!-- End Discount Page Nav -->

      <li class="nav-item">
        <a class="nav-link text-dark" href="{% url 'index' %}" target="_blank">
          <i class="bi bi-globe text-primary"></i>
          <span>Website</span>
        </a>
      </li><!-- End Website Link Nav -->

      <li class="nav-item">
        <a class="nav-link text-dark" href="{% url 'password_change' %}">
          <i class="bi bi-key text-primary"></i>
          <span>Change Password</span>
        </a>
      </li><!-- End Website Link Nav -->

      <li class="nav-item">
        <a class="nav-link text-dark" href="{% url 'logout' %}">
          <i class="bi bi-box-arrow-in-right text-primary"></i>
          <span>Logout</span>
        </a>
      </li><!-- End Logout Page Nav -->

    </ul>

</aside><!-- End Sidebar-->

<br><br><br>
<main class="mt-2">
    <div class="container top">
        <div class="row justify-content-center">
            <div class="col-lg-6">

                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title text-center"><i class="bi bi-bank"></i> Dove</h5>
                    <h5 class="card-title text-center">Add Discount</h5>              
                      {% for msg in messages %}
                        {% if status %}
                          <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <i class="bi bi-check-circle me-1"></i>
                            {{ msg }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                          </div>
                        {% else %}
                          <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <i class="bi bi-exclamation-octagon me-1"></i>
                            {{ msg }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                          </div>
                        {% endif %}
                      {% endfor %}
                    <!-- Discount Form -->
                    <form method="post" class="row g-3">
                      {% csrf_token %}
                       {{ discount_form }}
                      <div class="text-center">
                        <button type="submit" class="btn btn-success">Grant Discount</button>
                      </div>
                    </form><!-- Discount Form -->
      
                  </div>
                </div>
            </div>
        </div>
    </div>
</main><!-- End #main -->
{% endblock %}
